
  body {
    background-color: #d2b48c;
    font-family:     Verdana, Geneva, Arial, sans-serif;
    font-size:       small;

  }

  h1,h2{

     color: green;
     border-bottom:   thin dotted #888888;

  }

  h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}

h2 {
  font-size:       130%;
  font-weight:     normal;
}

blockquote {
  font-style:      italic;
}

   .mahno1 {

     padding-right:150px;
     padding-left: 150px;
     margin: 10px;

    background-color: #d2b48c;

   }

   .nestor {
     padding-right:150px;
     padding-left: 150px;
     margin: 10px;
 }
 .bat {
   .leftimg {
       float:left;
       margin: 7px 7px 7px 0;
      }
      .rightimg  {
       float: right;
       margin: 7px 0 7px 7px;
      }



  background-color: #d2b48c;
 }
  .mahno2 {
  padding-right:5px;
  margin: 10px;
  }
