
  body {
    background-color: #d2b48c;


  }

  h1,h2{

     color: green;

  }

   .mahno1 {

     padding-right:150px;
     padding-left: 150px;
     margin: 10px;

    background-color: #d2b48c;

   }

   .nestor {
     padding-right:150px;
     padding-left: 150px;
 }
 .bat {
   top:50;
   padding-right:150px;
   padding-left: 150px;


  background-color: #d2b48c;
 }
  .mahno2 {
  padding-right:5px;
  margin: 10px;
  }
